<div class="overlay" (click)="closeForm()"></div>
<div
  class="create-user-from bg-[#FDFDFD] p-7 z-[1000] w-[580px] overflow-auto h-[900px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
>
  <h2
    class="flex items-center justify-between mb-5 pb-3 border-b px-2 border-[#D8D8D8]"
  >
    <span class="text-custom-baby-blue text-2xl font-bold">Create User</span>
    <img
      src="imgs/shared/x.png"
      alt=""
      (click)="closeForm()"
      class="cursor-pointer"
    />
  </h2>
  <div class="create-user-type mb-7">
    <h4 class="mb-3 font-bold text-xl">User</h4>
    <div class="types flex items-center gap-10 font-medium">
      <div class="type flex items-center gap-1">
        <input
          type="radio"
          name="activeDirectory"
          id="activeDirectory"
          value="activeDirectory"
          [(ngModel)]="selectedUserType"
          (change)="onUserTypeChange('activeDirectory')"
        />
        <label for="activeDirectory">Active Directory</label>
      </div>
      <div class="type flex items-center gap-1">
        <input
          type="radio"
          name="newUser"
          id="newUser"
          value="newUser"
          [(ngModel)]="selectedUserType"
          (change)="onUserTypeChange('newUser')"
        />
        <label for="newUser">New User</label>
      </div>
    </div>
  </div>

  <form>
    <div
      class="input-group pb-5 border-b border-[#D8D8D8] flex items-center gap-1"
    >
      <label for="userName" class="main">Username*</label>
      <input
        type="text"
        id="userName"
        style="width: 90%"
        placeholder="Write it here .."
        [ngStyle]="{
          width: selectedUserType === 'newUser' ? '100%' : '90%'
        }"
      />

      @if(selectedUserType === 'activeDirectory'){

      <img src="imgs/shared/importUser.png" alt="" />
      }
    </div>
    <div class="input-group">
      <label for="fullName" class="main">Full Name</label>
      <input type="text" id="fullName" placeholder="Write it here .." />
    </div>
    <div class="input-groups flex items-center gap-2">
      <div class="input-group">
        <label for="Nickname" class="main">Nickname</label>
        <input type="text" id="Nickname" placeholder="Write it here .." />
      </div>
      <div class="input-group">
        <label for="Mobile" class="main">Mobile No.</label>
        <input type="text" id="Mobile" placeholder="Write it here .." />
      </div>
    </div>
    <div class="input-group date">
      <label for="cancellationDate" class="main">Cancellation Date*</label>
      <input
        type="datetime-local"
        id="cancellationDate"
        class="text-[#6F6F6F]"
      />
      <img src="imgs/shared/calendar.png" alt="" class="w-7" />
    </div>
    @if(selectedUserType === 'newUser'){

    <div
      class="input-group pb-5 border-b border-[#D8D8D8] flex items-center gap-1"
    >
      <label for="password" class="main">Password*</label>
      <input type="password" id="password" placeholder="Write it here .." />
      <img src="imgs/shared/again.png" alt="" />
    </div>
    }
    <div class="input-group">
      <label for="Department" class="main">Department</label>
      <select name="Department" id="Department" class="text-[#6F6F6F]">
        <option value="1">Choose</option>
        <option value="1">1</option>
        <option value="1">1</option>
        <option value="1">1</option>
      </select>
      <img
        _ngcontent-ng-c4043766655=""
        src="imgs/shared/down.png"
        alt=""
        class="absolute w-3 right-3 top-6 cursor-pointer"
      />
    </div>
    <div class="input-groups flex items-center gap-2">
      <div class="input-group">
        <label for="division" class="main">Division</label>
        <select name="division" id="division" class="text-[#6F6F6F]">
          <option value="1">Choose</option>
          <option value="1">1</option>
          <option value="1">1</option>
          <option value="1">1</option>
        </select>
        <img
          _ngcontent-ng-c4043766655=""
          src="imgs/shared/down.png"
          alt=""
          class="absolute w-3 right-3 top-6 cursor-pointer"
        />
      </div>
      <div class="input-group">
        <label for="sector" class="main">Sector</label>
        <select name="sector" id="sector" class="text-[#6F6F6F]">
          <option value="1">Choose</option>
          <option value="1">1</option>
          <option value="1">1</option>
          <option value="1">1</option>
        </select>
        <img
          _ngcontent-ng-c4043766655=""
          src="imgs/shared/down.png"
          alt=""
          class="absolute w-3 right-3 top-6 cursor-pointer"
        />
      </div>
    </div>
    <div class="input-group">
      <label for="controlCenter" class="main">Control Center</label>
      <select name="controlCenter" id="controlCenter" class="text-[#6F6F6F]">
        <option value="1">Choose</option>
        <option value="1">1</option>
        <option value="1">1</option>
        <option value="1">1</option>
      </select>
      <img
        _ngcontent-ng-c4043766655=""
        src="imgs/shared/down.png"
        alt=""
        class="absolute w-3 right-3 top-6 cursor-pointer"
      />
    </div>
    <div class="input-group">
      <label for="role" class="main">Role(s) </label>
      <select name="role" id="role" class="text-[#6F6F6F]">
        <option value="1">Choose</option>
        <option value="1">1</option>
        <option value="1">1</option>
        <option value="1">1</option>
      </select>
      <img
        _ngcontent-ng-c4043766655=""
        src="imgs/shared/down.png"
        alt=""
        class="absolute w-3 right-3 top-6 cursor-pointer"
      />
    </div>
    <div
      class="input-group pb-5 border-b border-[#D8D8D8] flex items-center gap-1"
    >
      <label for="Status" class="main">Status</label>
      <select name="Status" id="Status" class="text-[#6F6F6F]">
        <option value="1">Choose</option>
        <option value="1">1</option>
        <option value="1">1</option>
        <option value="1">1</option>
      </select>
      <img
        _ngcontent-ng-c4043766655=""
        src="imgs/shared/down.png"
        alt=""
        class="absolute w-3 right-3 top-6 cursor-pointer"
      />
    </div>
  </form>
  <div class="actions flex items-center justify-end gap-5 p-3">
    <button
      class="w-72 h-12 border border-custom-baby-blue rounded-lg text-custom-baby-blue font-semibold text-xl transition-all hover:bg-custom-baby-blue hover:text-white"
    >
      Cancel
    </button>
    <button
      class="w-72 h-12 border border-custom-baby-blue rounded-lg h hover:text-custom-baby-blue hover:bg-white font-semibold text-xl transition-all bg-custom-baby-blue text-white"
    >
      Create User
    </button>
  </div>
</div>
