.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // gap: 20px;

  .input-group {
    display: flex;
    flex-direction: column;
    label {
      @apply text-custom-baby-blue;
      margin-left: 8px;
      font-weight: 500;
    }
    input {
      width: 400px;
      height: 50px;
      border-radius: 5px;
      outline: 0;
      @apply pl-5;
      border: 0.5px solid;
      @apply border-custom-baby-blue;
    }
  }
}

.right-sec {
  background: url("../../../../public/imgs/shared/landing.jpg");
  background-size: cover;
}

@media (max-width: 800px) {
  .login-content {
    padding: 10px;
    align-items: center;
    justify-content: center;
    .left-sec {
      flex-basis: 100%;
      form {
        width: 100%;
        padding: 10px;
        .inputs {
          .input-group {
            width: 100%;
            padding: 10px;
          }
          input,
          button {
            // width: 100%;
            max-width: 100%;
          }
        }
      }
    }
    .right-sec {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .login-content {
    min-height: 80vh;
  }
  .header {
    text-align: center;
  }
  input,
  button {
    padding: 10px;
    width: 330px !important;
  }
  .forget {
    margin-right: 10px;
  }
}
