<div class="forget-password-content flex min-h-screen">
  <div class="left-sec bg-white basis-1/2 relative">
    <form
      [formGroup]="forgetPassword"
      (ngSubmit)="onSubmit()"
      class="w-[700px] p-20 flex items-center justify-center flex-col absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    >
      <div class="header flex items-center justify-center flex-col mb-20">
        <img
          src="imgs/nav/logo/authLogo.jpg"
          class="w-36 rounded-xl mb-1"
          alt=""
        />
        <h2 class="text-custom-blue font-semibold text-3xl">Change Password</h2>
        <p class="text-custom-baby-blue">Please change your password.</p>
      </div>

      <div class="inputs">
        <div class="input-group mb-5">
          <label for="userName">New Password</label>
          <input type="password" id="userName" formControlName="password" />
          @if(forgetPassword.get('password')?.invalid&&forgetPassword.get('password')?.touched){
          <small class="err-msg">please enter valid password.</small>
          }
        </div>
        <div class="input-group">
          <label for="password">Confirm New Password</label>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
        </div>
      </div>
      @if ( forgetPassword.get('password')?.valid &&
      forgetPassword.get('confirmPassword')?.value &&
      forgetPassword.get('password')?.value !==
      forgetPassword.get('confirmPassword')?.value ) {
      <small class="err-msg">Passwords do not match.</small>
      }

      <button
        [disabled]="forgetPassword.invalid"
        [ngStyle]="{ opacity: forgetPassword.invalid ? '0.5' : '1' }"
        class="w-[400px] mt-5 bg-custom-baby-blue text-white py-4 font-medium rounded"
      >
        Login
      </button>
    </form>
  </div>
  <div class="right-sec basis-1/2 h-screen"></div>
</div>
