* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
}

.err-msg {
  @apply py-3 text-red-500;
}
select {
  -webkit-appearance: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* For Firefox */
input[type="datetime-local"] {
  -moz-appearance: textfield;
}
