* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
}

.err-msg {
  @apply py-3 text-red-500;
}
select {
  -webkit-appearance: none;
}
